In [4]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# load data
train_data = pd.read_csv(r"./data/train.csv")
test_data = pd.read_csv(r"./data/test.csv")

In [8]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [129]:
# Feature Engineering
from sklearn.preprocessing import Imputer

def nan_padding(data, columns):
    for column in columns:
        imputer=Imputer()
        data[column]=imputer.fit_transform(data[column].values.reshape(-1,1))
    return data


nan_columns = ["Age", "SibSp", "Parch"]

train_data = nan_padding(train_data, nan_columns)
test_data = nan_padding(test_data, nan_columns)

In [9]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [131]:
#save PassengerId for evaluation
test_passenger_id=test_data["PassengerId"]

In [132]:
def drop_not_concerned(data, columns):
    return data.drop(columns, axis=1)

not_concerned_columns = ["PassengerId","Name", "Ticket", "Fare", "Cabin", "Embarked"]
train_data = drop_not_concerned(train_data, not_concerned_columns)
test_data = drop_not_concerned(test_data, not_concerned_columns)

In [133]:
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch
0         0       3    male  22.0    1.0    0.0
1         1       1  female  38.0    1.0    0.0
2         1       3  female  26.0    0.0    0.0
3         1       1  female  35.0    1.0    0.0
4         0       3    male  35.0    0.0    0.0

In [134]:
test_data.head()

   Pclass     Sex   Age  SibSp  Parch
0       3    male  34.5    0.0    0.0
1       3  female  47.0    1.0    0.0
2       2    male  62.0    0.0    0.0
3       3    male  27.0    0.0    0.0
4       3  female  22.0    1.0    1.0

In [135]:
def dummy_data(data, columns):
    for column in columns:
        data = pd.concat([data, pd.get_dummies(data[column], prefix=column)], axis=1)
        data = data.drop(column, axis=1)
    return data


dummy_columns = ["Pclass"]
train_data=dummy_data(train_data, dummy_columns)
test_data=dummy_data(test_data, dummy_columns)

In [136]:
test_data.head()

      Sex   Age  SibSp  Parch  Pclass_1  Pclass_2  Pclass_3
0    male  34.5    0.0    0.0         0         0         1
1  female  47.0    1.0    0.0         0         0         1
2    male  62.0    0.0    0.0         0         1         0
3    male  27.0    0.0    0.0         0         0         1
4  female  22.0    1.0    1.0         0         0         1

In [137]:
from sklearn.preprocessing import LabelEncoder
def sex_to_int(data):
    le = LabelEncoder()
    le.fit(["male","female"])
    data["Sex"]=le.transform(data["Sex"]) 
    return data

train_data = sex_to_int(train_data)
test_data = sex_to_int(test_data)
train_data.head()

   Survived  Sex   Age  SibSp  Parch  Pclass_1  Pclass_2  Pclass_3
0         0    1  22.0    1.0    0.0         0         0         1
1         1    0  38.0    1.0    0.0         1         0         0
2         1    0  26.0    0.0    0.0         0         0         1
3         1    0  35.0    1.0    0.0         1         0         0
4         0    1  35.0    0.0    0.0         0         0         1

In [138]:
from sklearn.preprocessing import LabelBinarizer
data_y = train_data["Survived"]
lb = LabelBinarizer()
data_y = lb.fit_transform(data_y)

In [139]:
from sklearn.preprocessing import MinMaxScaler

def normalize_age(data):
    scaler = MinMaxScaler()
    data["Age"] = scaler.fit_transform(data["Age"].values.reshape(-1,1))
    return data
train_data = normalize_age(train_data)
test_data = normalize_age(test_data)
train_data.head()

   Survived  Sex       Age  SibSp  Parch  Pclass_1  Pclass_2  Pclass_3
0         0    1  0.271174    1.0    0.0         0         0         1
1         1    0  0.472229    1.0    0.0         1         0         0
2         1    0  0.321438    0.0    0.0         0         0         1
3         1    0  0.434531    1.0    0.0         1         0         0
4         0    1  0.434531    0.0    0.0         0         0         1

In [140]:
from sklearn.model_selection import train_test_split

data_x = train_data.drop(["Survived"], axis=1)

X_train, X_valid, y_train, y_valid = train_test_split(data_x, data_y, test_size=0.2, random_state=42)

print("train_x:{}".format(X_train.shape))
print("train_y:{}".format(y_train.shape))
print("train_y content:{}".format(y_train[:3]))

print("valid_x:{}".format(X_valid.shape))
print("valid_y:{}".format(y_valid.shape))

train_x:(712, 7)
train_y:(712, 1)
train_y content:[[0]
 [0]
 [0]]
valid_x:(179, 7)
valid_y:(179, 1)

In [142]:
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
clf = LinearSVC(random_state=41)
#clf = KNeighborsClassifier(n_neighbors=3)
clf.fit(X_train.values, y_train.ravel())

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=41, tol=0.0001,
     verbose=0)

In [143]:
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
from sklearn.metrics import f1_score

score_cv = cross_val_score(clf, X_train.values, y_train.ravel(), cv=3)
score_f1 = f1_score(y_train_pred, y_train.ravel())
print("F1 Accuracy: {0:.2f}%".format(score_f1 * 100.0))
score = clf.score(X_train, y_train)
print("Test Accuracy: {0:.2f}%".format(score * 100.0))

F1 Accuracy: 62.00%
Test Accuracy: 80.34%

In [144]:
score_cv

array([ 0.79831933,  0.79746835,  0.78902954])

In [146]:
predictions = clf.predict(test_data)

final_results = pd.DataFrame(np.array(list(zip(test_passenger_id,predictions))), columns=["PassengerId", "Survived"])
final_results.to_csv(r"data\predictions.csv", index=False)